.listWrap {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.listWrapItem {
	margin: 5px;
	padding: 5px;
	background: black;
	border-radius: 5px;
	width: 250px;
	max-width: 95%;
}

.listA {
	display: block;
	color: blue;
}

.listWrapItemForm {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;
}

.listWrapItemP {
	color: white;
	margin-bottom: 5px;
}

.listWrapItemFormP {
	color: white;
	font-size: 15px;
}

.listWrapItemFormInp {
	padding: 5px;
	border: 0.5px solid darkgrey;
	margin-bottom: 5px;
	width: 100%;
}

.listWrapItemFormBtn {
	padding: 2px 15px;
	margin-left: auto;
	border-radius: 100px;
}