.searchForm {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
}

.searchForm * {
	margin: 1px 5px;
	max-width: 90%;
}

.searchFormBtn {
	width: 150px;
	padding: 2px;
}

.listWrapItem {
	margin: 10px 5px;
}

.listWrapItemAGo {
	margin-left: 5px;
	background: black;
	color: white;
	padding: 1px 5px;
	border-radius: 100px;
}

.listWrapItemAGo:hover {
	background: yellow;
	color: black;
}

.listA {
	display: block;
	color: blue;
}

.return {
	color: red;
}

.null {
	color: grey;
	text-decoration: line-through;
}