.listWrapItem {
	margin: 10px 5px;
}

.listA {
	display: block;
	color: blue;
}

.x_balance {
	color: grey;
}

.z_balance {
	color: red;
}

.branch {
	color: green;
}

.periodical {
	color: goldenrod;
}