body {
	background: grey;
}

.typicalContainer {
	background: white;
	padding: 10px;
	border-radius: 5px;
}

.auth .container * {
	margin-bottom: 10px;
}

.authA {
	color: blue;
}

.linksWrapper {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.linksWrapperA {
	background: red;
	border-radius: 25px;
	border: 2px solid red;
	font-weight: bold;
	color: white;
	padding: 12px 0;
	width: 220px;
	max-width: 100%;
	text-align: center;
	margin: 10px 0;
}

.linksWrapperA:hover {
	transition-duration: 1s;
	background: yellow;
	border-color: black;
	color: black;
}