body {
	background: grey;
}

.auth .container, .links .container {
	background: white;
	padding: 10px;
	border-radius: 10px;
}

.auth .container * {
	margin-bottom: 10px;
}

.authA {
	color: blue;
}

.linksWrapper {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.linksWrapperA {
	background: red;
	border-radius: 25px;
	color: white;
	padding: 15px 0px;	
	width: 250px;
	max-width: 100%;
	text-align: center;
	margin: 10px 0;
}