.list .container, .search .container {
	background: white;
	padding: 10px;
	border-radius: 10px;
}

.listWrapItem {
	margin: 10px 5px;
}

.listBtn {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.listBtnP {
	width: 90px;
	color: white;
	background: black;
	border-radius: 100px;
	padding: 3px;
	cursor: pointer;
	text-align: center;
}

.listA {
	display: block;
	color: blue;
}