.staffForm {
	display: flex;
	justify-content: left;
	align-items: flex-end;
	flex-wrap: wrap;
}

.staffForm * {
	margin: 1px 5px;
	max-width: 90%;
}

.staffFormBtn {
	width: 150px;
	padding: 2px;
}

.listWrapItem {
	margin: 10px 5px;
}

.listA, .staffA {
	display: block;
	color: blue;
}

.out {
	color: red;
}

.null {
	color: grey;
	text-decoration: line-through;
}